<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>">
    <%= value %>
  </div>
<% end %>

<div class="container px-5">
  <div class="row">
    <%= render 'list2', users: @users %>

    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>
      <table class="table">
          <thead>
          <tr class="row border-top border-bottom">
            <th class="col-3 p-3"></th>
            <th class="col-3 p-3">Title</th>
            <th class="col-6 p-3 ">Opinion</th>
          </tr>
        </thead>
        <tbody>
            <% @books.each do |book| %>
          <tr class="row border-top">
            <td class="col-3 p-3">
              <%= link_to user_path(book.user) do %>
                <%= image_tag @user.get_profile_image(100, 100) %></td>
            <% end %>
            <td class="col-3 p-3 align-top"><%= link_to book.title, book %></td>
            <td class="col-6 p-3 align-top"><%= book.body %></td>
          </tr>
          <% end %>
        </tbody>
      </table>


    </div>
　</div>
</div>