<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>">
    <%= value %>
  </div>
<% end %>

<div class="container px-5">
  <div class="row">
    <%= render 'users/list', users: @users %>

    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table width="100%">
        <tbody>
          <tr class="border-top">
            <td><%= image_tag @book.user.get_profile_image(100,100) %>
            <br><%= link_to @book.user.name  || "name", user_path(@book.user.id) %></td>
            <td class="p-3 mr-3 align-top"><%= link_to @book.title %></td>
            <td class="p-3 align-top"><%= @book.body %></td>
            <td class="mt-5 mb-3">
              <% if @book.user == current_user %>
                <%= link_to "Edit", edit_book_path(@book), class: "btn btn-success" %>
              <% end %>
            </td>
            <td class="mt-5 mb-3">
              <% if @book.user == current_user %>
                <%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm" => "本当に消しますか？", class: "btn btn-danger" %>
              <% end %>
            </td>
            <td class="p-3 align-top", id="favorite_btn_<%= @book.id %>">
              <%= render 'favorites/btn', book: @book %>
            </td>
            <td class="p-3 align-top", id="comment_counter">
              <%= render 'book_comments/counter', book: @book %>
            </td>
            <td class="p-3 align-top">
              閲覧数 <%= @book.view_counts.count %>
            </td>
          </tr>
        </tbody>
      </table>
      <div id="comments-section">
        <%= render 'books/comments', book: @book %>
      </div>
      <div>
        <%= render 'comment_form', book: @book, new_book_comment: @new_book_comment %>
      </div>
    </div>
  </div>
</div>